@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-Regular.woff2") format("woff2"), url("./../fonts/Gilroy-Regular.woff") format("woff"), url("./../fonts/Gilroy-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("./../fonts/Gotham-Bold.woff2") format("woff2"), url("./../fonts/Gotham-Bold.woff") format("woff"), url("./../fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular ProTT";
  src: url("./../fonts/CircularProTT-Bold.woff2") format("woff2"), url("./../fonts/CircularProTT-Bold.woff") format("woff"), url("./../fonts/CircularProTT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#5623a6), color-stop(75.56%, #c76735));
  background-image: linear-gradient(to right, #5623a6 0%, #c76735 75.56%);
}

main {
  position: relative;
}

.wrapper {
  background-image: url("./../assets/image/bigBg.svg");
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .desktopHidden {
    display: none;
  }
}

header {
  background-color: transparent;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 20;
}

@media (min-width: 1024px) {
  header {
    position: absolute;
    top: 30px;
  }
}

header .brand {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  position: relative;
  z-index: 21;
}

@media (min-width: 768px) {
  header .brand img {
    width: 30vw;
    margin-left: 30px;
  }
}

@media (min-width: 1024px) {
  header .brand img {
    margin-top: 40px;
  }
}

header .menu {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

header .menu label {
  padding: 0 30px;
  cursor: pointer;
  position: relative;
  z-index: 12;
}

@media (min-width: 1024px) {
  header .menu label {
    display: none;
  }
}

header .menu .menuBotton {
  display: none;
}

header .menu .menuBotton:checked ~ .navContainer {
  right: 20px;
}

header .menu .navContainer {
  position: absolute;
  top: -10px;
  right: -600px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

header .menu .navContainer .menuContainer {
  width: 50vw;
  background-color: #431b82;
}

header .menu .navContainer .menuContainer .menuDropdown {
  color: #ffffff;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem {
  font-size: 1.7rem;
  line-height: 5rem;
  padding: 0 0 0 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem .menuLink {
  color: #ffffff;
  font-family: "Gilroy";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 1024px) {
  header .menu .navContainer .menuContainer .menuDropdown .menuItem {
    padding: 0 15px;
    font-size: 2.1rem;
    line-height: 4rem;
  }
}

@media (min-width: 1024px) {
  header .menu .navContainer .menuContainer .menuDropdown {
    padding-right: 15px;
    height: 60px;
  }
}

@media (min-width: 1024px) {
  header .menu .navContainer .menuContainer {
    background: transparent;
    text-align: end;
  }
}

@media (min-width: 1024px) {
  header .menu .navContainer {
    position: absolute;
    right: 60px;
  }
}

.swiper {
  width: 100%;
  position: relative;
  z-index: 0;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*about*/
.about {
  padding-left: 22px;
  padding-right: 22px;
  -webkit-clip-path: polygon(50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 50%, 0 10%);
          clip-path: polygon(50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 50%, 0 10%);
  margin-top: -50px;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
  color: #ffffff;
  background-image: radial-gradient(50% 50% at 50% 50%, #3b196d 0%, #1b0d27 100%);
}

@media (min-width: 768px) {
  .about {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1600px) {
  .about {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (min-width: 1024px) {
  .about {
    padding-top: 120px;
    padding-bottom: 80px;
  }
}

.about h2 {
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 3.4rem;
  line-height: 4rem;
  margin-bottom: 40px;
  display: none;
}

@media (min-width: 768px) {
  .about h2 {
    display: block;
  }
}

.about .containerAbout {
  position: relative;
  z-index: 10;
}

@media (min-width: 1024px) {
  .about .containerAbout {
    padding-right: 215px;
    padding-left: 20px;
  }
}

.about .containerAbout p {
  margin-bottom: 20px;
  font-size: 1.3rem;
  line-height: 1.56rem;
  font-family: "Gilroy";
  font-weight: normal;
  max-width: 797px;
}

@media (min-width: 768px) {
  .about .containerAbout p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 30px;
  }
}

.about .btnContainer {
  margin-top: 20px;
  text-align: center;
  position: relative;
  z-index: 10;
}

.about .btnContainer button {
  background: transparent;
  cursor: pointer;
  border: 0;
  outline: none;
}

.news {
  position: relative;
  z-index: 10;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 15px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .news {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1600px) {
  .news {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (min-width: 768px) {
  .news {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.news h2 {
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 1.654rem;
  line-height: 1.822rem;
}

@media (min-width: 768px) {
  .news h2 {
    font-size: 3.4rem;
    line-height: 4rem;
    margin-bottom: 40px;
  }
}

.news .newsContainer {
  padding: 5px 0;
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .news .newsContainer {
    padding-left: 15px;
    padding-right: 15px;
    gap: 30px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 1600px) {
  .news .newsContainer {
    gap: 40px;
  }
}

.news .newsContainer .new {
  width: 130px;
}

@media (min-width: 768px) {
  .news .newsContainer .new {
    width: 200px;
  }
}

.news .newsContainer .new img {
  margin-bottom: -3px;
  width: 100%;
  height: auto;
}

.news .newsContainer .new .titleNewsContainer {
  background: #ffffff46;
  padding: 7px;
}

@media (min-width: 768px) {
  .news .newsContainer .new .titleNewsContainer {
    padding: 20px;
  }
}

.news .newsContainer .new .titleNewsContainer p {
  font-family: "Gilroy";
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.44rem;
  color: #ffffff;
}

.news .newsContainer .new .titleNewsContainer .btnContainer {
  margin-top: 5px;
  text-align: center;
}

.news .newsContainer .new .titleNewsContainer .btnContainer button {
  background: transparent;
  cursor: pointer;
  border: 0;
  outline: none;
}

@media (min-width: 768px) {
  .news .newsContainer .new .titleNewsContainer .btnContainer button {
    width: 20px;
  }
}

@media (min-width: 768px) {
  .news .newsContainer .new {
    width: 230px;
  }
}

/*about2*/
.services {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  -webkit-clip-path: polygon(50% 0, 100% 5%, 100% 95%, 50% 100%, 0 95%, 0 50%, 0 5%);
          clip-path: polygon(50% 0, 100% 5%, 100% 95%, 50% 100%, 0 95%, 0 50%, 0 5%);
  color: #ffffff;
  background-image: radial-gradient(50% 50% at 50% 50%, #3b196d 0%, #1b0d27 100%);
}

@media (min-width: 768px) {
  .services {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1600px) {
  .services {
    padding-left: 65px;
    padding-right: 65px;
  }
}

.services h2 {
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 3.4rem;
  line-height: 4rem;
  margin-bottom: 40px;
  display: none;
}

@media (min-width: 768px) {
  .services h2 {
    display: block;
  }
}

@media (min-width: 768px) {
  .services .servicesContainer {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 20px;
    gap: 30px;
  }
}

@media (min-width: 768px) {
  .services .servicesContainer article {
    width: calc(75vw / 3);
  }
}

.services .servicesContainer article p {
  margin-bottom: 10px;
  font-size: 1.888rem;
  line-height: 2.203rem;
  font-family: "Gilroy";
  font-weight: normal;
}

@media (min-width: 768px) {
  .services .servicesContainer article p {
    font-size: 1.97rem;
    line-height: 2.4rem;
  }
}

@media (min-width: 1600px) {
  .services .servicesContainer article p {
    font-size: 2.2rem;
    line-height: 2.6rem;
    padding-left: 5px;
    width: 280px;
  }
}

.professionals {
  position: relative;
  z-index: 10;
  padding-left: 22px;
  padding-right: 22px;
}

@media (min-width: 768px) {
  .professionals {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1600px) {
  .professionals {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (min-width: 1024px) {
  .professionals {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.professionals h2 {
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 1.904rem;
  line-height: 1.822rem;
}

@media (min-width: 768px) {
  .professionals h2 {
    font-size: 3.4rem;
    line-height: 4rem;
    margin-bottom: 40px;
  }
}

.professionals .professionalsContainer {
  margin: 7px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .professionals .professionalsContainer {
    max-width: calc(100vw - 200px);
    padding: 0;
    gap: 30px;
  }
}

.professionals .professionalsContainer .professional {
  width: 130px;
}

@media (min-width: 768px) {
  .professionals .professionalsContainer .professional {
    width: calc(74vw / 3);
  }
}

.professionals .professionalsContainer .professional .professionalInfo {
  position: relative;
}

.professionals .professionalsContainer .professional .professionalInfo .professionalImg {
  /* margin-bottom: -3px; */
  width: 100%;
  height: auto;
}

.professionals .professionalsContainer .professional .professionalInfo .iconsProfessional {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000009b), to(transparent));
  background-image: linear-gradient(to bottom, #0000009b, transparent);
  padding: 5px 0;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media (min-width: 768px) {
  .professionals .professionalsContainer .professional .professionalInfo .iconsProfessional {
    height: 25%;
  }
}

.professionals .professionalsContainer .professional .professionalInfo .iconsProfessional a {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.professionals .professionalsContainer .professional .professionalInfo .iconsProfessional a img {
  width: 25px;
}

@media (min-width: 768px) {
  .professionals .professionalsContainer .professional .professionalInfo .iconsProfessional a img {
    width: 80%;
  }
}

.professionals .professionalsContainer .professional .professionalInfo:hover > .iconsProfessional {
  opacity: 1;
}

.professionals .professionalsContainer .professional .titleProfessionalContainer {
  text-align: center;
  padding: 10px;
  height: 60px;
}

.professionals .professionalsContainer .professional .titleProfessionalContainer p {
  font-size: 1.2rem;
  line-height: 1.44rem;
  color: #ffffff;
  font-family: "Gilroy";
  font-weight: normal;
}

@media (min-width: 768px) {
  .professionals .professionalsContainer .professional .titleProfessionalContainer p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.professionals .professionalsContainer .hidden:nth-child(5), .professionals .professionalsContainer .hidden:nth-child(6), .professionals .professionalsContainer .hidden:nth-child(7), .professionals .professionalsContainer .hidden:nth-child(8), .professionals .professionalsContainer .hidden:nth-child(9), .professionals .professionalsContainer .hidden:nth-child(10), .professionals .professionalsContainer .hidden:nth-child(11), .professionals .professionalsContainer .hidden:nth-child(12), .professionals .professionalsContainer .hidden:nth-child(13), .professionals .professionalsContainer .hidden:nth-child(14), .professionals .professionalsContainer .hidden:nth-child(15) {
  display: none;
}

@media (min-width: 768px) {
  .professionals .professionalsContainer .cuartoP {
    display: none;
  }
}

.professionals .professionalsContainer .hiddenTablet {
  display: block;
}

.professionals .btnContainerProfessionals {
  margin-top: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .professionals .btnContainerProfessionals {
    margin-top: 50px;
  }
}

.professionals .btnContainerProfessionals button {
  font-family: "Gilroy";
  font-size: 1.222rem;
  line-height: 1.536rem;
  /*  padding: 10px 20px; */
  height: 39.71px;
  width: 135.59px;
  color: #ffffff;
  background: #ffffff46;
  cursor: pointer;
  border: 0;
  outline: none;
}

.youths {
  position: relative;
  z-index: 10;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 15px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .youths {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1600px) {
  .youths {
    padding-left: 65px;
    padding-right: 65px;
  }
}

.youths h2 {
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 1.904rem;
  line-height: 1.822rem;
}

@media (min-width: 768px) {
  .youths h2 {
    font-size: 3.4rem;
    line-height: 4rem;
    margin-bottom: 40px;
  }
}

.youths .youthContainer {
  /* max-width: 1024px; */
  margin: 10px auto;
  padding: 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .youths .youthContainer {
    gap: 40px;
  }
}

@media (min-width: 1600px) {
  .youths .youthContainer {
    max-width: calc(100vw - 200px);
  }
}

.youths .youthContainer .youth {
  width: 85px;
}

@media (min-width: 768px) {
  .youths .youthContainer .youth {
    width: calc(70vw / 4);
  }
}

.youths .youthContainer .youth img {
  margin-bottom: -3px;
  width: 100%;
  height: auto;
}

.youths .youthContainer .youth .titleYouthContainer {
  text-align: center;
  padding: 15px 10px;
  height: 85px;
}

.youths .youthContainer .youth .titleYouthContainer p {
  font-size: 1.2rem;
  line-height: 1.44rem;
  font-family: "Gilroy";
  font-weight: normal;
  color: #ffffff;
}

.youths .youthContainer .hidden:nth-child(5), .youths .youthContainer .hidden:nth-child(6), .youths .youthContainer .hidden:nth-child(7), .youths .youthContainer .hidden:nth-child(8) {
  display: none;
}

.youths .youthContainer .cuartoY {
  display: none;
}

@media (min-width: 768px) {
  .youths .youthContainer .cuartoY {
    display: block;
  }
}

.youths .youthContainer .hiddenTablet {
  display: block;
}

.youths .btnContainerYouths {
  text-align: center;
}

.youths .btnContainerYouths button {
  font-family: "Gilroy";
  font-size: 1.222rem;
  line-height: 1.536rem;
  height: 42.71px;
  width: 135.59px;
  color: #ffffff;
  background: #ffffff46;
  cursor: pointer;
  border: 0;
  outline: none;
}

.contact {
  position: relative;
  background-color: #312682;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 22px;
  padding-bottom: 22px;
}

@media (min-width: 768px) {
  .contact {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1600px) {
  .contact {
    padding-left: 65px;
    padding-right: 65px;
  }
}

.contact .containerContact {
  margin: auto;
  max-width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 10;
}

@media (min-width: 1600px) {
  .contact .containerContact {
    max-width: calc(100vw - 400px);
  }
}

.contact .containerContact .containerLeft,
.contact .containerContact .containerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .containerContact .containerLeft a,
.contact .containerContact .containerLeft p,
.contact .containerContact .containerRight a,
.contact .containerContact .containerRight p {
  color: #ffffff;
}

.contact .containerContact .containerLeft {
  font-family: "Gilroy";
  font-size: 1.236rem;
  line-height: 2.293rem;
}

@media (min-width: 1024px) {
  .contact .containerContact .containerLeft {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
  }
}

@media (min-width: 1024px) {
  .contact .containerContact .containerLeft .brand img {
    width: 180px;
  }
}

.contact .containerContact .containerLeft .rrss .facebook a,
.contact .containerContact .containerLeft .rrss .instagram a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .contact .containerContact .containerLeft .rrss .facebook a img,
  .contact .containerContact .containerLeft .rrss .instagram a img {
    width: 20px;
  }
}

.contact .containerContact .containerRight {
  font-family: "Gilroy";
  font-weight: normal;
  font-size: 1.071rem;
  line-height: 1.19rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 1024px) {
  .contact .containerContact .containerRight {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: normal;
  }
}

@media (min-width: 768px) {
  .contact .containerContact .containerRight .map {
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .contact .containerContact .containerRight .map {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .contact .containerContact .containerRight .map img {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  .contact .containerContact .containerRight .map img {
    width: 300px;
  }
}

.contact .containerContact .containerRight .address {
  text-align: end;
}

@media (min-width: 1024px) {
  .contact .containerContact .containerRight .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.contact .containerContact .containerRight .address .contactInfo {
  margin-top: 10px;
}

.contact .containerContact .containerRight .address .addressInfo {
  margin-top: 10px;
}

footer {
  background-color: #1d1d1b;
}

footer .footerContainer {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #8f8f8f;
  font-family: "Gotham";
  font-size: 0.7rem;
  line-height: 0.84rem;
}

@media (min-width: 768px) {
  footer .footerContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1600px) {
  footer .footerContainer {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (min-width: 768px) {
  footer .footerContainer {
    padding-top: 25px;
    padding-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  footer .footerContainer {
    margin: auto;
    max-width: 950px;
  }
}

@media (min-width: 1600px) {
  footer .footerContainer {
    max-width: calc(100vw - 300px);
  }
}

@media (min-width: 768px) {
  footer .footerContainer p {
    font-size: 1.4rem;
  }
}

footer .footerContainer p:first-child {
  margin-bottom: 2px;
}

footer .footerContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media (min-width: 768px) {
  footer .footerContainer ul {
    gap: 30px;
  }
}

footer .footerContainer ul li a {
  color: #8f8f8f;
}

@media (min-width: 768px) {
  footer .footerContainer ul li a {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=style.css.map */