@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-Bold.woff2") format("woff2"), url("./../fonts/Gilroy-Bold.woff") format("woff"), url("./../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("./../fonts/Gotham-Bold.woff2") format("woff2"), url("./../fonts/Gotham-Bold.woff") format("woff"), url("./../fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-Regular.woff2") format("woff2"), url("./../fonts/Gilroy-Regular.woff") format("woff"), url("./../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular ProTT";
  src: url("./../fonts/CircularProTT-Bold.woff2") format("woff2"), url("./../fonts/CircularProTT-Bold.woff") format("woff"), url("./../fonts/CircularProTT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#5623a6), color-stop(75.56%, #c76735));
  background-image: linear-gradient(to right, #5623a6 0%, #c76735 75.56%);
}

main {
  padding-top: 60px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.hidden2 {
  display: none !important;
}

header {
  background-color: transparent;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 20;
}

header .brand {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  position: relative;
  z-index: 21;
}

header .menu {
  height: 100%;
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

header .menu label {
  padding: 0 30px;
  cursor: pointer;
}

@media (min-width: 768px) {
  header .menu label {
    display: none;
  }
}

header .menu .menuBotton {
  display: none;
}

header .menu .menuBotton:checked ~ .navContainer {
  right: 0;
}

header .menu .navContainer {
  position: absolute;
  top: 60px;
  right: -600px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

header .menu .navContainer .menuContainer {
  height: 100vh;
  width: 50vw;
  background-color: red;
}

header .menu .navContainer .menuContainer .menuDropdown {
  height: 100vh;
  color: #ffffff;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem {
  font-size: 1.7rem;
  line-height: 7rem;
  padding: 0 0 0 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem:hover {
  -webkit-box-shadow: 768px 0 8px #ffffff inset;
          box-shadow: 768px 0 8px #ffffff inset;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem:hover > .menuLink {
  color: blue;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem .menuLink {
  color: #000000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 768px) {
  header .menu .navContainer .menuContainer .menuDropdown .menuItem {
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  header .menu .navContainer .menuContainer .menuDropdown {
    padding-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 60px;
  }
}

@media (min-width: 768px) {
  header .menu .navContainer .menuContainer {
    height: 60px;
    width: 100vw;
    top: 0;
    background: transparent;
  }
}

@media (min-width: 768px) {
  header .menu .navContainer {
    position: static;
    top: 0;
  }
}

.swiper {
  width: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*about*/
.about {
  margin-top: -60px;
  padding: 60px 20px 40px;
  position: relative;
  z-index: 10;
  -webkit-clip-path: polygon(50% 0, 100% 12%, 100% 90%, 50% 100%, 0 90%, 0 50%, 0 10%);
          clip-path: polygon(50% 0, 100% 12%, 100% 90%, 50% 100%, 0 90%, 0 50%, 0 10%);
  color: #ffffff;
  background-image: radial-gradient(50% 50% at 50% 50%, #3b196d 0%, #1b0d27 100%);
}

.about .containerAbout p {
  margin-bottom: 20px;
  font-size: 1.3rem;
  line-height: 1.56rem;
  font-family: "Gilroy";
  font-weight: bold;
  max-width: 797px;
}

.about .btnContainer {
  margin-top: 20px;
  text-align: center;
}

.about .btnContainer button {
  background: transparent;
  cursor: pointer;
  border: 0;
  outline: none;
}

.news {
  padding: 40px 20px;
}

.news h2 {
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 1.904rem;
  line-height: 1.822rem;
}

.news .newsContainer {
  padding: 5px;
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news .newsContainer .new {
  width: 130px;
}

.news .newsContainer .new img {
  margin-bottom: -3px;
  width: 100%;
  height: auto;
}

.news .newsContainer .new .titleNewsContainer {
  background: #ffffff85;
  padding: 15px 10px;
  height: 105px;
}

.news .newsContainer .new .titleNewsContainer p {
  font-size: 1.2rem;
  font-family: "Gilroy";
  font-weight: normal;
  line-height: 1.44rem;
  color: #ffffff;
}

.news .newsContainer .new .titleNewsContainer .btnContainer {
  margin-top: 10px;
  text-align: center;
}

.news .newsContainer .new .titleNewsContainer .btnContainer button {
  background: transparent;
  cursor: pointer;
  border: 0;
  outline: none;
}

@media (min-width: 768px) {
  .news .newsContainer .new {
    width: 230px;
  }
}

/*about2*/
.services {
  padding: 60px 40px;
  position: relative;
  z-index: 10;
  -webkit-clip-path: polygon(50% 0, 100% 12%, 100% 90%, 50% 100%, 0 90%, 0 50%, 0 10%);
          clip-path: polygon(50% 0, 100% 12%, 100% 90%, 50% 100%, 0 90%, 0 50%, 0 10%);
  color: #ffffff;
  background-image: radial-gradient(50% 50% at 50% 50%, #3b196d 0%, #1b0d27 100%);
}

.services h2 {
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 1.904rem;
  line-height: 1.822rem;
  display: none;
}

@media (min-width: 768px) {
  .services h2 {
    display: block;
  }
}

@media (min-width: 768px) {
  .services .servicesContainer {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}

.services .servicesContainer article p {
  margin-bottom: 20px;
  font-size: 1.3rem;
  line-height: 1.56rem;
  font-family: "Gilroy";
  font-weight: normal;
}

.professionals {
  padding: 40px 20px;
}

.professionals h2 {
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 1.904rem;
  line-height: 1.822rem;
}

.professionals .professionalsContainer {
  padding: 5px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.professionals .professionalsContainer .professional {
  width: 130px;
}

.professionals .professionalsContainer .professional img {
  margin-bottom: -3px;
  width: 100%;
  height: auto;
}

.professionals .professionalsContainer .professional .titleProfessionalContainer {
  text-align: center;
  padding: 15px 10px;
  height: 105px;
}

.professionals .professionalsContainer .professional .titleProfessionalContainer p {
  font-size: 1.2rem;
  line-height: 1.44rem;
  color: #ffffff;
  font-family: "Gilroy";
  font-weight: normal;
}

@media (min-width: 768px) {
  .professionals .professionalsContainer .professional {
    width: 230px;
  }
}

.professionals .professionalsContainer .professionalHidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.professionals .btnContainerProfessionals {
  text-align: center;
}

.professionals .btnContainerProfessionals button {
  font-family: "Gilroy";
  font-size: 1.222rem;
  line-height: 1.536rem;
  padding: 10px 20px;
  color: #ffffff;
  background: #ffffff85;
  cursor: pointer;
  border: 0;
  outline: none;
}

.youths {
  padding: 40px 10px;
}

.youths h2 {
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 1.904rem;
  line-height: 1.822rem;
}

.youths .youthContainer {
  padding: 5px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.youths .youthContainer .youth {
  width: 100px;
}

.youths .youthContainer .youth img {
  margin-bottom: -3px;
  width: 100%;
  height: auto;
}

.youths .youthContainer .youth .titleYouthContainer {
  text-align: center;
  padding: 15px 10px;
  height: 105px;
}

.youths .youthContainer .youth .titleYouthContainer p {
  font-size: 1.2rem;
  line-height: 1.44rem;
  font-family: "Gilroy";
  font-weight: normal;
  color: #ffffff;
}

@media (min-width: 768px) {
  .youths .youthContainer .youth {
    width: 230px;
  }
}

.youths .youthContainer .youthHidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.youths .btnContainerYouths {
  text-align: center;
}

.youths .btnContainerYouths button {
  font-family: "Gilroy";
  font-size: 1.222rem;
  line-height: 1.536rem;
  padding: 10px 20px;
  color: #ffffff;
  background: #ffffff85;
  cursor: pointer;
  border: 0;
  outline: none;
}

.contact {
  background-color: #312682;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact a,
.contact p {
  color: #ffffff;
}

.contact .containerLeft,
.contact .containerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .containerLeft {
  font-family: "Circular ProTT";
  font-size: 1.236rem;
  line-height: 2.293rem;
}

.contact .containerRight {
  font-family: "Gilroy";
  font-weight: normal;
  font-size: 1.071rem;
  line-height: 1.19rem;
}

.contact .containerRight .address .addressInfo {
  margin-top: 10px;
}

footer {
  background-color: #1d1d1b;
  color: #707070;
  padding: 20px 40px;
  font-family: "Gotham";
  font-size: 0.7rem;
  line-height: 0.84rem;
}

footer p:first-child {
  margin-bottom: 10px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */