/*about*/

.about {
  @include padding;
  clip-path: polygon(50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 50%, 0 10%);
  margin-top: -50px;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
  z-index: 10;
  color: $white;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    $color3 0%,
    $color4 100%
  );

  @include desktop {
    padding-top: 120px;
    padding-bottom: 80px;
  }
  h2 {
    color: $white;
    font-family: $font1;
    font-size: 3.4rem;
    line-height: 4rem;

    margin-bottom: 40px;
    display: none;
    @include tablet {
      display: block;
    }
  }
  .containerAbout {
    @include desktop {
      padding-right: 215px;
      padding-left: 20px;
    }
    p {
      margin-bottom: 20px;
      font-size: 1.3rem;
      line-height: 1.56rem;
      font-family: $font1;
      font-weight: normal;
      max-width: 797px;
      @include tablet {
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin-bottom: 30px;
      }
    }
  }
  .btnContainer {
    margin-top: 20px;
    text-align: center;
    position: relative;
    z-index: 10;

    button {
      background: transparent;
      cursor: pointer;
      border: 0;
      outline: none;
    }
  }
}
