.contact {
  background-color: $color5;
  padding: 15px 20px 20px;
  display: flex;
  justify-content: space-between;
  a,
  p {
    color: $white;
  }
  .containerLeft,
  .containerRight {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
  }
  .containerLeft {
    font-family: $font1;
    font-size: 1.236rem;
    line-height: 2.293rem;
  }
  .containerRight {
    font-family: $font1;
    font-weight: normal;
    font-size: 1.071rem;
    line-height: 1.19rem;
    align-items: flex-end;
    .address {
      text-align: end;
      .contactInfo {
        margin-top: 10px;
      }
      .addressInfo {
        margin-top: 10px;
      }
    }
  }
}
