@font-face {
  font-family: "Gilroy-Medium";
  src: url("./../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("./../fonts/Gilroy-Medium.woff") format("woff"),
    url("./../fonts/Gilroy-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("./../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("./../fonts/Gilroy-Bold.woff") format("woff"),
    url("./../fonts/Gilroy-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: "Gotham-Bold";
  src: url("./../fonts/Gotham-Bold.woff2") format("woff2"),
    url("./../fonts/Gotham-Bold.woff") format("woff"),
    url("./../fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular-ProTT";
  src: url("./../fonts/CircularProTT-Bold.woff2") format("woff2"),
    url("./../fonts/CircularProTT-Bold.woff") format("woff"),
    url("./../fonts/CircularProTT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
