footer {
  background-color: $color6;
  color: $color7;
  padding: 15px 20px;
  font-family: $font2;
  font-size: 0.7rem;
  line-height: 0.84rem;
  p {
    &:first-child {
      margin-bottom: 2px;
    }
  }
  ul {
    display: flex;
  }
}
