footer {
  background-color: $color6;
  .footerContainer {
    @include padding;
    padding-top: 15px;
    padding-bottom: 15px;
    color: $color7;
    font-family: $font2;
    font-size: 0.7rem;
    line-height: 0.84rem;
    @include tablet {
      padding-top: 25px;
      padding-bottom: 18px;
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      margin: auto;
    }
    @include biggest-desktop {
      max-width: calc(100vw - 200px);
    }

    .rights {
      @include tablet {
        font-size: 1.4rem;
      }
      &:first-child {
        margin-bottom: 2px;
      }
    }
    .links {
      display: flex;
      gap: 10px;
      @include tablet {
        gap: 30px;
      }

      a {
        color: $color7;
        @include tablet {
          font-size: 1.4rem;
        }
      }
    }
  }
}
