* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
  position: relative;
  background-image: linear-gradient(to right, $color2 0%, $color1 75.56%);
}
main {
  /* padding-top: 60px; */
}
.wrapper {
  background-image: url("./../assets/image/bigBg.png");
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.hidden {
  display: none;
}
.hidden2 {
  display: none !important;
}
