.news {
  @include padding;
  padding-top: 15px;
  padding-bottom: 20px;
  h2 {
    color: $white;
    font-family: $font1;
    font-size: 1.654rem;
    line-height: 1.822rem;
  }
  .newsContainer {
    padding: 5px 0;
    margin-top: 7px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    .new {
      width: 130px;
      img {
        margin-bottom: -3px;
        width: 100%;
        height: auto;
      }
      .titleNewsContainer {
        background: $blur;
        padding: 10px;
        height: 90px;
        p {
          font-size: 1.2rem;
          font-family: $font1;
          font-weight: normal;
          line-height: 1.44rem;
          color: $white;
        }
        .btnContainer {
          margin-top: 5px;
          text-align: center;
          button {
            background: transparent;
            cursor: pointer;
            border: 0;
            outline: none;
          }
        }
      }
      @include tablet {
        width: 230px;
      }
    }
  }
}
