.news {
  position: relative;
  z-index: 10;
  @include padding;
  padding-top: 15px;
  padding-bottom: 20px;
  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  h2 {
    color: $white;
    font-family: $font1;
    font-size: 1.654rem;
    line-height: 1.822rem;
    @include tablet {
      font-size: 3.4rem;
      line-height: 4rem;

      margin-bottom: 40px;
    }
  }
  .newsContainer {
    padding: 5px 0;
    margin-top: 7px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    @include tablet {
      padding-left: 15px;
      padding-right: 15px;
      gap: 30px;
      flex-wrap: nowrap;
    }
    @include biggest-desktop {
      gap: 40px;
    }
    .new {
      width: 130px;
      @include tablet {
        width: 200px;
      }
      img {
        margin-bottom: -3px;
        width: 100%;
        height: auto;
      }
      .titleNewsContainer {
        background: $blur;
        padding: 7px;

        @include tablet {
          padding: 20px;
        }
        p {
          font-family: $font1;
          font-size: 1.2rem;
          font-weight: normal;
          line-height: 1.44rem;
          color: $white;
        }
        .btnContainer {
          margin-top: 5px;
          text-align: center;
          button {
            background: transparent;
            cursor: pointer;
            border: 0;
            outline: none;
            @include tablet {
              width: 20px;
            }
          }
        }
      }
      @include tablet {
        width: 230px;
      }
    }
  }
}
