.professionals {
  position: relative;
  z-index: 10;
  @include padding;
  @include desktop {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  h2 {
    color: $white;
    font-family: $font4;
    font-size: 1.904rem;
    line-height: 1.822rem;
    @include tablet {
      font-size: 3.4rem;
      line-height: 4rem;
      margin-bottom: 40px;
    }
  }
  .professionalsContainer {
    padding: 5px 15px;
    margin: 7px auto;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;

    .professional {
      width: calc(74vw / 2);
      @include tablet {
        width: calc(74vw / 3);
      }
      .professionalInfo {
        position: relative;

        .professionalImg {
          /* margin-bottom: -3px; */
          width: 100%;
          height: auto;
        }
        .iconsProfessional {
          display: flex;
          justify-content: center;
          background: #0000009b; /* linear-gradient(to bottom, #0000009b, transparent); */
          padding: 5px 0;
          width: 100%;
          height: 40px;
          position: absolute;
          bottom: 0;
          transition-property: opacity;
          transition-duration: 0.5s;
          @include tablet {
            height: 25%;
          }

          a {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            .icon1 {
              width: 20px;
              @include tablet {
                width: 50%;
              }
            }
            .icon2 {
              width: 20px;
              @include tablet {
                width: 55%;
              }
            }
            .icon3 {
              width: 25px;
              @include tablet {
                width: 80%;
              }
            }
          }
        }
      }
      .titleProfessionalContainer {
        text-align: center;
        padding: 10px;
        height: 60px;

        p {
          font-size: 1.2rem;
          line-height: 1.44rem;
          color: $white;
          font-family: $font1;
          font-weight: normal;
          @include tablet {
            font-size: 1.836rem;
            line-height: 2.2rem;
          }
        }
      }
    }
  }
  .btnContainerProfessionals {
    margin-top: 30px;
    margin-bottom: 20px;
    @include tablet {
      margin-top: 50px;
    }
    @include desktop {
      display: none;
    }
    text-align: center;
    button {
      font-family: $font4;
      font-size: 1.222rem;
      line-height: 1.536rem;
      height: 39.71px;
      width: 135.59px;
      color: $white;
      background: $blur;
      cursor: pointer;
      border: 0;
      outline: none;
      @include tablet {
        font-size: 2.135rem;
        line-height: 2.684rem;
        height: 69.38px;
        width: 236.91px;
      }
    }
  }
}
