.professionals {
  position: relative;
  z-index: 10;
  @include padding;
  @include desktop {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  h2 {
    color: $white;
    font-family: $font4;
    font-size: 1.904rem;
    line-height: 1.822rem;
    @include tablet {
      font-size: 3.4rem;
      line-height: 4rem;

      margin-bottom: 40px;
    }
  }
  .professionalsContainer {
    margin: 7px auto;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;

    @include desktop {
      max-width: calc(100vw - 200px);
      padding: 0;
      gap: 30px;
    }
    .professional {
      width: calc(74vw / 2);

      @include tablet {
        width: calc(74vw / 3);
      }
      .professionalInfo {
        position: relative;

        .professionalImg {
          /* margin-bottom: -3px; */
          width: 100%;
          height: auto;
        }
        .iconsProfessional {
          opacity: 0;
          display: flex;
          justify-content: center;
          background-image: linear-gradient(to bottom, #0000009b, transparent);
          padding: 5px 0;
          width: 100%;
          height: 40px;
          position: absolute;
          bottom: 0;
          transition-property: opacity;
          transition-duration: 0.5s;
          @include tablet {
            height: 25%;
          }

          a {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            img {
              width: 25px;
              @include tablet {
                width: 80%;
              }
            }
          }
        }
        &:hover > .iconsProfessional {
          opacity: 1;
        }
      }
      .titleProfessionalContainer {
        text-align: center;
        padding: 10px;
        height: 60px;

        p {
          font-size: 1.2rem;
          line-height: 1.44rem;
          color: $white;
          font-family: $font1;
          font-weight: normal;
          @include tablet {
            font-size: 1.836rem;
            line-height: 2.2rem;
          }
        }
      }
    }
    .hidden {
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(12),
      &:nth-child(13),
      &:nth-child(14),
      &:nth-child(15) {
        display: none;
      }
    }
    .cuartoP {
      @include tablet {
        display: none;
      }
    }
    .hiddenTablet {
      display: block;
    }
  }
  .btnContainerProfessionals {
    margin-top: 30px;
    @include tablet {
      margin-top: 50px;
    }
    text-align: center;
    button {
      font-family: $font4;
      font-size: 1.222rem;
      line-height: 1.536rem;
      height: 39.71px;
      width: 135.59px;
      color: $white;
      background: $blur;
      cursor: pointer;
      border: 0;
      outline: none;
      @include tablet {
        font-size: 2.135rem;
        line-height: 2.684rem;
        height: 69.38px;
        width: 236.91px;
      }
    }
  }
}
