/*about2*/
.services {
  @include padding;
  padding-top: 100px;
  padding-bottom: 100px;
  h2 {
    color: $white;
    font-family: $font4;
    font-size: 3.4rem;
    line-height: 4rem;

    margin-bottom: 40px;
    display: none;
    @include tablet {
      display: block;
    }
  }

  position: relative;
  clip-path: polygon(50% 0, 100% 5%, 100% 95%, 50% 100%, 0 95%, 0 50%, 0 5%);
  color: $white;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    $color3 0%,
    $color4 100%
  );
  .servicesContainer {
    @include tablet {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      padding: 0 20px;
      gap: 30px;
    }
    article {
      @include tablet {
        width: calc(75vw / 3);
      }
      p {
        margin-bottom: 10px;
        font-size: 1.888rem;
        line-height: 2.203rem;
        font-family: $font1;
        font-weight: normal;
        @include tablet {
          font-size: 1.97rem;
          line-height: 2.4rem;
        }
        @include biggest-desktop {
          font-size: 2.2rem;
          line-height: 2.6rem;
          padding-left: 5px;
          width: 280px;
        }
      }
    }
  }
}
