$white: #ffffff;
$color1: #c76735;
$color2: #5623a6;
$color3: #3b196d;
$color4: #1b0d27;
$color5: #312682;
$color6: #1d1d1b;
$color7: #707070;
$blur: #ffffff46;
$font1: "Gilroy";
$font2: "Gotham";
$font3: "Circular ProTT";
