.youths {
  padding: 40px 10px;

  h2 {
    color: $white;
    font-family: $font1;
    font-size: 1.904rem;
    line-height: 1.822rem;
  }
  .youthContainer {
    padding: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    .youth {
      width: 100px;
      img {
        margin-bottom: -3px;
        width: 100%;
        height: auto;
      }
      .titleYouthContainer {
        text-align: center;
        padding: 15px 10px;
        height: 105px;
        p {
          font-size: 1.2rem;
          line-height: 1.44rem;
          font-family: $font1;
          font-weight: normal;
          color: $white;
        }
      }

      @include tablet {
        width: 230px;
      }
    }
    .youthHidden {
      display: flex;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;
    }
  }
  .btnContainerYouths {
    text-align: center;
    button {
      font-family: $font1;
      font-size: 1.222rem;
      line-height: 1.536rem;
      padding: 10px 20px;
      color: $white;
      background: $blur;
      cursor: pointer;
      border: 0;
      outline: none;
    }
  }
}
