.youths {
  position: relative;
  z-index: 10;
  @include padding;
  padding-top: 15px;
  padding-bottom: 40px;

  h2 {
    color: $white;
    font-family: $font4;
    font-size: 1.904rem;
    line-height: 1.822rem;
    @include tablet {
      font-size: 3.4rem;
      line-height: 4rem;

      margin-bottom: 40px;
    }
  }
  .youthContainer {
    /* max-width: 1024px; */
    margin: 10px auto;
    padding: 5px 0 0;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    text-transform: uppercase;
    @include desktop {
      gap: 40px;
    }
    @include biggest-desktop {
      max-width: calc(100vw - 200px);
    }
    .youth {
      width: 85px;
      @include tablet {
        width: calc(70vw / 4);
      }
      img {
        margin-bottom: -3px;
        width: 100%;
        height: auto;
      }
      .titleYouthContainer {
        text-align: center;
        padding: 15px 10px;
        height: 85px;
        p {
          font-size: 1.2rem;
          line-height: 1.44rem;
          font-family: $font1;
          font-weight: normal;
          color: $white;
        }
      }
    }
    .hidden {
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        display: none;
      }
    }
    .cuartoY {
      display: none;
      @include tablet {
        display: block;
      }
    }
    .hiddenTablet {
      display: block;
    }
  }
  .btnContainerYouths {
    text-align: center;
    button {
      font-family: $font1;
      font-size: 1.222rem;
      line-height: 1.536rem;
      height: 42.71px;
      width: 135.59px;
      color: $white;
      background: $blur;
      cursor: pointer;
      border: 0;
      outline: none;
    }
  }
}
